#canvas2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.controls, select, option {
    font-size: 25px;
}